* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url('bg.jpg')no-repeat;
    background-size: cover;
}

h1 {
    width: 50px;
    left: 10px;
    position: absolute;
    color: #fff;
    font-family: lucida;
    font-size: 60px;
}

.tracker-table table th {
    font-size: 40px;
    margin: 50px 0;
    padding-top: 200px;
    padding-right: 250px;
    padding-left: 100px;
    color: black;
    overflow: hidden;
}

.tracker-table table td {
    font-size: 25px;
    position: relative;
    padding-top: 50px;
    padding-left: 100px;
    color: black;
    overflow: hidden;
}

.tracker-table .btn-grp .btn1 {
    font-size: 18px;
    font-weight: bold;
    margin: 50px 0;
    padding: 10px 15px;
    position: absolute;
    top: 70%;
    left: 30%;
    width: 20%;
    border-radius: 5px;
    border: 0;
    overflow: hidden;
}

.tracker-table .btn-grp .btn2 {
    font-size: 18px;
    font-weight: bold;
    margin: 50px 10px;
    padding: 10px 15px;
    width: 10%;
    top: -30px;
    left: 1450px;
    position: absolute;
    border-radius: 5px;
    border: 0;
}