<!DOCTYPE html>
<html lang="en">

<head>
    <title>DashBoard</title>
    <link rel="stylesheet" type="text/css" href="static/dash.css">
</head>

<body>
    <div class="dash-page">
        <h1>Hello,Vyshakh</h1>

        <button type="submit"><a href="{{url_for('index')}}">Logout</a></button>

    </div>
    <div class="dash-table">
        <table>

            <!-- Colgroup -->
            <colgroup>
                <col class="vzebra-odd">
                <col class="vzebra-even">
                <col class="vzebra-odd">
                <col class="vzebra-even">
            </colgroup>

            <!-- Table header -->
            <thead>
                <tr>
                    <th scope="col" id="vzebra-comedy">Employee</th>
                    ...
                </tr>
            </thead>

            ...
        </table>
    </div>
    <button type="submit"><a href="{{url_for('index')}}">Add Tracker</a></button>

</body>

</html>