<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signup Page</title>
    <link rel="stylesheet" type="text/css" href="static/signup.css">
</head>

<body>
    <div class="signup-form">
        <h1>Signup</h1>
        <form action="/signup" method="post" id="Signup_form">
            <p>User Name</p>
            <input type="text" name="user" placeholder="User Name" required>
            <p>Email</p>
            <input type="email" id="email" name="email" placeholder="abc@gmail.com" required>
            <p>Password</p>
            <input type="password" name="password" placeholder="Password" required>
            <p>Confirm Password</p>
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Submit</button>
        </form>
</body>

</html>